[submodule "AutoCategories-PlayniteExtension"]
path = AutoCategories-PlayniteExtension
url = https://github.com/roob-p/AutoCategories-PlayniteExtension.git

[submodule "CoverStyleSwitcher-PlayniteExtension"]
path = CoverStyleSwitcher-PlayniteExtension
url = https://github.com/roob-p/CoverStyleSwitcher-PlayniteExtension.git
